html,
body {
  min-height: 100vh;
  /* background-image: url("https://images.unsplash.com/photo-1522444195799-478538b28823?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80"); */

  background-image: url("https://images.unsplash.com/photo-1507831228884-93d43e81a99d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1232&q=80");
  background-image: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* font-family: sans-serif; */
}

/* body {
  margin: 0;
  padding: 0;
} */

/* #root {
  /* position: relative; */
/* display: flex;
  flex-direction: column; */
/* height: calc(100% - 200px);
  padding-bottom: 200px; */
/* } */

/* .footer {
  max-height: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
} */

.container,
.card {
  border: none;
}

.repair-card {
  border: 1px "#333";
  background: #f0f1f2;
  margin: 15px;
}

.repair-card-textbox {
  padding-left: 10px;
}
